{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Assistência Técnica{% endblock %}</title>
  <!-- Bootstrap CSS local -->
  <link rel="stylesheet" href=" {% static 'bootstrap/css/bootstrap.min.css' %} ">
  <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-icons.css/fonts' %}">
</head>
<body class="d-flex flex-column min-vh-100">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'assistencia:home' %}">
                 Assistência Técnica
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'assistencia:usuarios' %}">
                            Usuários
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'assistencia:clientes' %}">
                             Clientes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'assistencia:servicos' %}">
                             Ordens de Serviço
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                             Relatórios
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'assistencia:contato' %}">
                           Contato
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'assistencia:sobre' %}">
                             Sobre
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

  
    {% block content %}
    
    {% endblock %}
  
<footer class="bg-dark text-white mt-auto pt-4 pb-2">
        <div class="container text-center">
            <p>&copy; 2025 Assistência Técnica - Todos os direitos reservados.</p>
            <div>
                <a href="#" class="text-white mx-2">
                    Facebook
                </a>
                <a href="#" class="text-white mx-2">
                    Twitter
                </a>
                <a href="#" class="text-white mx-2">
                    Instagram
                </a>
                <a href="#" class="text-white mx-2">
                    Linkedin
                </a>
            </div>
        </div>
    </footer>
</body>
</html>